.predictionscontainer {
  display: flex;
  gap: 20px;
  width: 1200px;
  min-width: 1000px;
  margin: 0 auto;
}
.infoTitle {
  margin-left: 20px;
  font-size: 24px;
  margin-top: 40px;
  font-weight: bold;
  align-items: start;
  display: flex;
}

.borderline {
  height: 2px;
  width: 70px;
  display: flex;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 30px;
  background-color: rgb(192, 192, 192);
}
.predictionscontainer2 {
  width: 1200px;
  max-width: 1200px;
  padding: 20px;
  min-width: 1200px;
  margin: 0 auto;
}

.predictionsleftSection {
  width: 70%;
  margin-bottom: 40px;
}

.predictionsrightSection {
  width: 30%;
}

@media (max-width: 1279px) {
  .predictionscontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
  }
  .infoTitle {
    margin-left: 5px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    align-items: start;
    display: flex;
  }

  .borderline {
    height: 2px;
    width: 60px;
    display: flex;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 30px;
    background-color: rgb(192, 192, 192);
  }
  .predictionscontainer2 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  .predictionsleftSection {
    width: 100%;
  }

  .predictionsrightSection {
    display: none;
    width: 100%;
  }
}
